  body {
      background-color: black;
      color: aliceblue;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .navbar{
        background-color: #ffffff    

        }

  .navbar .nav-link {
      color: #000; 
      font-weight: bold; 
      transition: color 0.3s; 
  }

  .navbar .nav-link:hover {
      color: #ff0000; 
  }

  .navbar .navbar-brand {
      color: #000; 
      font-weight: bold; 
  }

  .navbar .navbar-toggler-icon {
      color: #000; 
  }
    .navbar .navbar-brand img{
        max-width: 100px;
    }

    .search-and-icons{
        display: flex;
        align-items: center;
    }

    .search-and-icons .user-icons div{
        padding-right: 1em;
        }
    
    .card{
      background-color: rgb(194, 14, 14);
    }
    
    .card:hover {
        background-color: #00ff37; 
        transform: scale(1.1); 
    }


    
    img{
        height: auto;

    }
    

    .card2 {
      background-color: rgb(194, 14, 14);
      border: none;
      border-radius: 8px;
      transition: transform 0.3s ease, background-color 0.3s ease;
    }
    
    .card2 img {
      object-fit: cover;
      
      
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    
    
    .card2 .card-body {
      padding: 2rem;
    }
    
    
    
    .card2 .card-text {
      font-size: 0.9rem;
      color: #e6e6e6;
    }
    
    
    .card2:hover {
      background-color: #00ff37;
      transform: scale(1.05);
    }
    
    .card2:hover .card-title,
    .card2:hover .card-text {
      color: #194d33;
    } 


    /* Ajuste do tamanho do carrossel */ 
    .custom-carousel {
      max-width: 1200px; 
      height: 800px; 
      margin: 0 auto; 
    }

    .custom-carousel img {
      object-fit: cover; 
      height: 100%; 
      width: 100%; 
    }

    .btn-custom {
      background-color: #33ff3d; 
      color: white; 
      border: none; 
    }

    
